build/
.vscode/
build-src-Desktop-Default/
CMakeFiles/
src/CMakeFiles/
test/CMakeFiles/
debian/aic-commu-lib/
debian/.debhelper/
pub
sub
req
rep
aic_commu_test
*.so*
CMakeCache.txt
CMakeLists.txt.user
